
:root{
    --bg_logo: #000000;
    --bg_footer: #00439C;
    --bg_ps_now: #161C3B;
    --bg__new_exits: #1F1F1F;
    --bg_pluss: #BEBCBB;
    --bg_btn: #D9DADC;
}

img{
    max-width: 100%;
}

/*********
UTILITIES
*********/

.bg_logo{
    background-color: var(--bg_logo);
}

.bg_exits{
    background-color: var(--bg__new_exits);
}

.bg_pluss{
    background-color: var(--bg_pluss);
}

.bg_ps_now{
    background-color: var(--bg_ps_now);
}

.bg_footer{
    background-color: var(--bg_footer);
}

.card_img img,
.console img,
.exits img,
.explore_items img,
.plus img,
.discount_items img{
    width: 100%;
}

.position_ab_card{
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.position_ab_card2{
    position: absolute;
    bottom: 40px;
    right: 50px;
}

a{
    text-decoration: none;
    color: white
}

ul{
    list-style: none;
}


/*#region NAV*/

.bg_logo img{
    width: 80px;
}

#site_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.jumbotron{
    padding-top: 106px;
}
/*#endregion NAV*/

/*#region ACCESSORIES*/

.accessories img{
    width: 100px;
}

/*#endregion ACCESSORIES*/

/*#region POSTER GAME*/

.poster{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


/*#endregion POSTER GAME*/

/*#region PS PLUS*/

.btn_plus{
    background-color: var(--bg_btn);
}

/*#endregion PS PLUS*/

/*#region SOCIAL*/

.social img{
    width: 100%;
}

.container_social{
    width: 50%;
    margin: auto;
    padding: 5rem 0;
}
/*#endregion SOCIAL*/

/*#region FOOTER*/

.region img{
    width: 150px;
}

.link_footer li{
    margin-bottom: 1rem;
}
/*#endregion FOOTER*/



