
:root{
    --bg_logo: #000000;
    --bg_nav: #00439C;
    --bg_ps_now: #161C3B;
    --bg__new_exits: #1F1F1F;
    --bg_pluss: #BEBCBB;
}


/*********
UTILITIES
*********/

.bg_logo{
    background-color: var(--bg_logo);
}

/*#section DEBUG*/



/*#endsection DEBUG*/